/* 서울남산 폰트 */
@font-face {
  font-family: 'SNJL';
  src: url('../fonts/seoulnamsanjangl.eot');
  src: url('../fonts/seoulnamsanjangl.eot?#iefix') format('embedded-opentype'),
       url('../fonts/seoulnamsanjangl.woff2') format('woff2'),
       url('../fonts/seoulnamsanjangl.woff') format('woff'),
       url('../fonts/seoulnamsanjangl.ttf') format('truetype'),
       url('../fonts/seoulnamsanjangl.svg#seoul-namsan-jang-l') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SNJL';
}

.top-nav {
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 30px 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.top-nav__logo img {
  height: 80px;
}

.top-nav__links {
  float: right;
}

.top-nav__link {
  display: inline-block;
  margin: 0 10px;
}

.top-nav__link a {
  display: inline-block;
  transition: background-color 0.3s;
  padding: 20px 30px;
  border-radius: 20px 0 20px 0;
  font-weight: bolder;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
}

.top-nav__link:hover a {
  background-color: rgba(255, 255, 255, 0.4);
}