@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  90% {
    opacity: 0.7;
    -webkit-transform: translate3d(-70%, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* header */

.header {
  background: linear-gradient(to right, #F4DE77, #FE93AF);
  height: 100vh;
  position: relative;
}

.header__title {
  padding-top: calc(50vh - 200px);
  color: white;
  font-size: 140px;
  line-height: 140px;
  text-align: center;
  animation: fadeInLeft 2s ease-out;
  position: relative;
  font-weight: bolder;
  z-index: 60;
  text-transform: uppercase;
}
.header__subtitle {
  letter-spacing: 40px;
  font-size: 20px;
  line-height: 20px;
  animation: fadeInLeft 2s ease-out;
  color: white;
  text-align: center;
  position: relative;
  z-index: 60;
  text-transform: uppercase;
}

.header__scroll-down-button {
  font-size: 20px;
  line-height: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  cursor: pointer;
  margin: 100px auto;
  display: block;
  opacity: 0;
  animation: fadeInDown 1s 2s forwards;
  transition: background-color 0.3s;
  z-index: 65;
}

.header__scroll-down-button:hover {
  background-color: rgba(255, 255, 255, 0.534);
}

/* main */

.section {
  background-image: url("../images/bg-landing.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-y;
}

/*  section introduce-reliablers */

.element-for-bg--rocket {
  padding: 50px;
  background: url(../images/rocket.png) no-repeat;
  background-size: 30vw;
  background-position: 10vw 10vw;
}

.devided-container {
  width: 50%;
  margin-left: 50%;
  padding: 200px 100px 100px 0;
}

.section__paragraph-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  line-height: 40px;
  text-transform: uppercase;
}

.section__paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

/* section introduce-remembers */

.section--introduce-remembers {
  color: black;
  padding-top: 180px;
}

.section__title {
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 30px;
  width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  color: #FE93AF;
}

.section__line {
  width: 125px;
  border: 5px solid #FE93AF;
}

.section__content {
  font-size: 20px;
  line-height: 40px;
  padding-top: 40px;
  text-align: center;
}

.remembers {
  font-size: 0;
  text-align: center;
  padding-bottom: 150px;
}

.remember {
  display: inline-block;
  margin: 80px 50px 0 50px;
}

.remember__profile {
  background-color: white;
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #DDD;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.349);
}

.profile__links {
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.profile__links img {
  width: 40px;
  height: 40px;
  margin: calc(50% - 20px) 5px 0 5px;
}

.remember__profile:hover .profile__links {
  opacity: 1;
}

.remember__name {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.remember__major {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

/* footer */

.footer {
  margin-top: 100px;
  text-align: center;
  color: #535353;
  font-size: 15px;
  line-height: 25px;
  padding: 40px 0 20px;
  background-color: rgb(255, 223, 224);
}