@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* header */

.header {
  background: linear-gradient(to right, #F4DE77, #FE93AF);
  height: 100vh;
  position: relative;
}

.header__title {
  padding-top: calc(50vh - 200px);
  color: white;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  animation: jackInTheBox 1s;
  font-weight: bolder;
  position: relative;
  z-index: 60;
  /* text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.16); */
}

.header__scroll-down-icon {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  animation: bounceInDown 1s 1s forwards;
  transition: border-top 0.3s;
  z-index: 65;
}

.header__scroll-down-icon:hover {
  border-top: 50px solid rgba(255, 255, 255, 0.8); 
}

/* main */

.main {
  background: url("../images/bg-landing.png");
  background-size: cover;
  background-repeat: repeat-y;
}

/* section */

.section {
  height: 100vh;
}

/*  section introduce-reliablers */

.section--introduce-reliablers {
  background: #FE93AF;
  padding: 50px;
}

/* section introduce-remembers */

.section--introduce-remembers {
  color: black;
}

.section__title {
  font-size: 80px;
  line-height: 80px;
  padding-top: 180px;
  padding-bottom: 30px;
  width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  background-image: -webkit-linear-gradient(left, #F4DE77, #FE93AF);
  background-image:    -moz-linear-gradient(left, #F4DE77, #FE93AF);
  background-image:     -ms-linear-gradient(left, #F4DE77, #FE93AF);
  background-image:      -o-linear-gradient(left, #F4DE77, #FE93AF);
  background-image:         linear-gradient(to right, #F4DE77, #FE93AF);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.section__line {
  width: 125px;
  border: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #F4DE77, #FE93AF);
  -webkit-border-image: -webkit-linear-gradient(left, #F4DE77, #FE93AF);
  border-image: linear-gradient(to right, #F4DE77, #FE93AF);
  border-image-slice: 1;
}

.section__content {
  font-size: 20px;
  line-height: 40px;
  padding-top: 40px;
  text-align: center;
}

.remembers {
  font-size: 0;
  text-align: center;
}

.remember {
  display: inline-block;
  margin: 80px 50px 0 50px;
}

.remember__profile {
  background-color: white;
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #DDD;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.349);
}

.profile__links {
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.profile__links img {
  width: 40px;
  height: 40px;
  margin: calc(50% - 20px) 5px 0 5px;
}

.remember__profile:hover .profile__links {
  opacity: 1;
}

.remember__name {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.remember__major {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}