<main class="main landing">
  <header class="header">
    <div class="header__container">
      <h1 class="header__title"><b style="color:#ebebeb">re</b>liablers</h1>
      <h3 class="header__subtitle">welcome to re</h3>
      <button class="header__scroll-down-button">Research About Re</button>
    </div>
    <div id="particles-js"></div>
    <div class="scroll-target"></div>
  </header>

  <section class="section intro">
    <h2 class="section__title">Reliablers</b></h2>
    <article class="intro__article intro__article--right">
      <div class="bg-img" id="bg1"></div>
      <p class="section__paragraph" data-paragraph-1></p>
    </article>
    <article class="intro__article intro__article--left">
      <div class="bg-img" id="bg2"></div>
      <p class="section__paragraph" data-paragraph-2></p>
    </article>
  </section>

  <section class="section intro-remembers">
    <h2 class="section__title">Re<b style="color:#252525;">members</b></h2>
    <hr class="section__line">
    <p class="section__content" data-intro-remember></p>
    <ul class="remembers">
      <li class="remember">
        <div class="remember__profile">
          <div class="profile__links">
            <a target="blank" data-github><img src="images/logo-github.svg" alt="github"></a>
            <a target="blank" data-facebook><img src="images/logo-facebook.svg" alt="facebook"></a>
          </div>
        </div>
        <div class="remember__name" data-name></div>
        <div class="remember__major" data-major></div>
      </li>        
    </ul>
  </section>
</main>