<main class="main landing">
  <header class="header">
    <div class="header__container">
      <h1
        class="header__title"
        data-scroll-reveal
      >
        re
      </h1>
      <h3
        class="header__subtitle"
        data-scroll-reveal
      >
        the software research group
      </h3>
      <button class="header__scroll-down-button">Research About RE</button>
    </div>
    <div id="particles-js"></div>
  </header>
  <div class="scroll-target" data-scroll-reveal></div>

  <section class="section intro">
    <h2
      class="section__title"
      data-scroll-reveal
    >
      about us
    </h2>
    <hr class="section__line" data-scroll-reveal>
    <article
      class="intro__article intro__article--right"
      data-scroll-reveal
    >
      <div class="bg-img" id="bg1"></div>
      <p class="section__paragraph" data-paragraph-1></p>
    </article>
    <article
      class="intro__article intro__article--left"
      data-scroll-reveal
    >
      <div class="bg-img" id="bg2"></div>
      <p class="section__paragraph" data-paragraph-2></p>
    </article>
  </section>

  <section class="section intro-projects">
    <h2
      class="section__title"
      data-scroll-reveal
    >
      re's projects
    </h2>
    <hr class="section__line" data-scroll-reveal>
    <ul class="project-list">
      <div data-cubes></div>
      <li class="project-item">
        <div class="project-image"></div>
        <div class="project-text-cover">
          <header class="project-content-header">
            <h4 class="project-name">
              Project Name
            </h4>
          </header>
          <article class="project-content-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam rem error magni natus ut expedita velit temporibus id dolorem ratione. Ut accusantium illo quaerat facere est ab nisi, consectetur obcaecati.
          </article>
          <a class="project-content-more-link">자세히</a>
        </div>
      </li>
    </ul>
  </section>

  <section class="section intro-remembers">
    <h2
      class="section__title"
      data-scroll-reveal
    >
      remembers</b>
    </h2>
    <hr class="section__line" data-scroll-reveal>
    <p
      class="section__content"
      data-intro-remember
      data-scroll-reveal
    >
    </p>
    <ul class="remembers">
      <li
        class="remember"
        data-scroll-reveal
      >
        <div class="remember__profile" data-profile>
          <div class="profile__links">
            <a target="blank" data-github><img src="images/logo-github.svg" alt="github"></a>
            <a target="blank" data-facebook><img src="images/logo-facebook.svg" alt="facebook"></a>
          </div>
        </div>
        <div class="remember__name" data-name></div>
        <div class="remember__major" data-major></div>
      </li>        
    </ul>
  </section>
  <div class="facebook-plugin-cover">
      <iframe
        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FReResearchGroup&width=149&layout=button&action=like&size=large&show_faces=false&share=true&height=65&appId"
        width="149"
        height="65"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
      >
      </iframe>
  </div>
</main>