html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, code, img,
dl, dt, dd, ol, ul, li,
article, aside, footer, header,
main, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: inherit;
	color: inherit;
}
button {
  outline: none;
  border: none;
}

/* 서울남산 폰트 */
@font-face {
  font-family: 'SNJL';
  src: url('../fonts/seoulnamsanjangl.eot');
  src: url('../fonts/seoulnamsanjangl.eot?#iefix') format('embedded-opentype'),
       url('../fonts/seoulnamsanjangl.woff2') format('woff2'),
       url('../fonts/seoulnamsanjangl.woff') format('woff'),
       url('../fonts/seoulnamsanjangl.ttf') format('truetype'),
       url('../fonts/seoulnamsanjangl.svg#seoul-namsan-jang-l') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SNJL';
}

header {
  padding-top: 60px;
}

.top-nav {
  color: white;
  font-size: 17px;
  line-height: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#F4DE77), to(#FE93AF));
  background: -webkit-linear-gradient(left, #F4DE77, #FE93AF);
  background: -o-linear-gradient(left, #F4DE77, #FE93AF);
  background: linear-gradient(to right, #F4DE77, #FE93AF);
}

.for-bg-ani {
  padding: 10px 50px;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}

.top-nav__logo img {
  height: 30px;
  margin: 5px 10px;
}

.top-nav__links {
  float: right;
}

.top-nav__link {
  display: inline-block;
  margin: 0 10px;
}

.top-nav__link a {
  display: inline-block;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 10px 30px;
  border-radius: 20px 0 20px 0;
  font-weight: bolder;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
}

.top-nav__link:hover a {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 700px) {
  .for-bg-ani {
    font-size: 15px;
    line-height: 15px;
    padding: 5px 10px;
    height: 45px;
  }
  .top-nav__logo img {
    height: 25px;
  }
  .top-nav__link {
    margin: 0 5px;
  }
  .top-nav__link a {
    padding: 10px 10px;
  }
}