@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  90% {
    opacity: 0.7;
    -webkit-transform: translate3d(-70%, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  90% {
    opacity: 0.7;
    -webkit-transform: translate3d(-70%, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes float {
  0% {
    background-position-y: 6vw;
  }
  50% {
    background-position-y: 4vw;
  }
}

@keyframes float {
  0% {
    background-position-y: 6vw;
  }
  50% {
    background-position-y: 4vw;
  }
}

/* header */

.header {
  background: -webkit-gradient(linear, left top, right top, from(#F4DE77), to(#FE93AF));
  background: -webkit-linear-gradient(left, #F4DE77, #FE93AF);
  background: -o-linear-gradient(left, #F4DE77, #FE93AF);
  background: linear-gradient(to right, #F4DE77, #FE93AF);
  height: 100vh;
  width: 100%;
  position: relative;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: none;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 65;
}

.header__container {
  -webkit-animation: fadeInLeft 2s ease-out;
          animation: fadeInLeft 2s ease-out;
}

.header__title {
  padding-top: calc(50vh - 200px);
  color: white;
  font-size: 140px;
  line-height: 140px;
  text-align: center;
  position: relative;
  font-weight: bolder;
  z-index: 60;
  text-transform: uppercase;
}
.header__subtitle {
  letter-spacing: 40px;
  font-size: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 60;
  text-transform: uppercase;
}

.header__scroll-down-button {
  font-size: 20px;
  line-height: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  display: block;
  opacity: 0;
  -webkit-animation: fadeInDown 1s 2s forwards;
          animation: fadeInDown 1s 2s forwards;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -150px;
  z-index: 70;
}

.header__scroll-down-button:hover {
  background-color: rgba(255, 255, 255, 0.534);
}

.scroll-target {
  position: absolute;
  top: calc(100vh - 60px);
  height: 100vh;
  z-index: -100;
}

/* main */

/*  section introduce-reliablers */

.section--introduce-reliablers {
  height: calc(100vh - 60px);
  padding: 50px;
}

.introduce-reliablers-navigation {
  background: rgb(171, 175, 222);
}

.section__title {
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 30px;
  width: 500px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  color: #FE93AF;
}

.section__line {
  width: 125px;
  border: 5px solid #FE93AF;
  opacity: 0;
}

.section__content {
  font-size: 20px;
  line-height: 40px;
  padding-top: 40px;
  text-align: center;
  opacity: 0;
}

.element-for-bg--night {
  height: 100%;
  background: url(../images/bg-night.png) no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}
.element-for-bg--rocket {
  height: 100%;
  background: url(../images/rocket.png) no-repeat;
  background-size: 400px;
  background-position: 9vw 6vw;
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

.devided-container {
  height: 100%;
  width: 50%;
  margin-left: 50%;
  padding: 120px 12vw 120px 0;
  color: black;
  overflow-y: scroll;
}

.section__paragraph-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  line-height: 40px;
  text-transform: uppercase;
}

.section__paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

/* section introduce-remembers */

.animation--remembers .section__title {-webkit-animation: fadeIn 1s forwards;animation: fadeIn 1s forwards;}
.animation--remembers .section__line,
.animation--remembers .section__content {-webkit-animation: fadeInLeft 2s forwards;animation: fadeInLeft 2s forwards;}
.animation--remembers .remember {-webkit-animation: fadeIn 1s forwards;animation: fadeIn 1s forwards;}
.animation--remembers .remember:nth-child(1) {-webkit-animation-delay: 1s;animation-delay: 1s;}
.animation--remembers .remember:nth-child(2) {-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
.animation--remembers .remember:nth-child(3) {-webkit-animation-delay: 1.4s;animation-delay: 1.4s;}
.animation--remembers .remember:nth-child(4) {-webkit-animation-delay: 1.6s;animation-delay: 1.6s;}
.animation--remembers .remember:nth-child(5) {-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}
.animation--remembers .remember:nth-child(6) {-webkit-animation-delay: 2.0s;animation-delay: 2.0s;}
.animation--remembers .remember:nth-child(7) {-webkit-animation-delay: 2.0s;animation-delay: 2.2s;}
.animation--remembers .remember:nth-child(8) {-webkit-animation-delay: 2.0s;animation-delay: 2.4s;}

.section--introduce-remembers {
  color: black;
  background-image: url("../images/bg-landing.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-y;
  padding-top: 200px;
}

.section--introduce-remembers .section__title {
  opacity: 0;
}

.remembers {
  font-size: 0;
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: left;
  margin: 50px auto;
}

.remember {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 200px;
}

.remember__profile {
  background-color: white;
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #DDD;
  z-index: 5;
  margin: 0 auto;
}

.remember:nth-child(1) .remember__profile {
  background: url("../images/profile1") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(2) .remember__profile {
  background: url("../images/profile2") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(3) .remember__profile {
  background: url("../images/profile3") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(4) .remember__profile {
  background: url("../images/profile4") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(5) .remember__profile {
  background: url("../images/profile5") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(6) .remember__profile {
  background: url("../images/profile6") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(7) .remember__profile {
  background: url("../images/profile7") no-repeat center center;
  background-size: cover;
}
.remember:nth-child(8) .remember__profile {
  background: url("../images/profile8") no-repeat center center;
  background-size: cover;
}

.profile__links {
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile__links img {
  width: 40px;
  height: 40px;
  margin: calc(50% - 20px) 5px 0 5px;
}

.profile__links img:hover {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.remember__profile:hover .profile__links {
  opacity: 1;
}

.remember__name {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.remember__major {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 10px 0 50px;
}

@media(max-width: 1300px) {
  .header__title {
    padding-top: calc(50vh - 150px);
    font-size: 80px;
    line-height: 80px;
  }
  .header__subtitle {
    letter-spacing: 20px;
    font-size: 20px;
    line-height: 20px;
  }
  .section--introduce-reliablers {
    padding: 30px;
  }
  .element-for-bg--rocket {
    background-image: none;
  }
  .devided-container {
    width: 100%;
    margin: 0;
    padding: 50px 10%;
    overflow: auto;
  }
  .section--introduce-remembers {
    padding-top: 50px;
  }
}
@media (max-width: 1000px) {
  .remembers {
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    width: auto;
  }
  .remember {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .remember__profile {
    margin: 0;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .profile__links {
    background: none;
    opacity: 1;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 0;
    transition: none  ;
    -webkit-transition: none  ;
    -moz-transition: none  ;
    -ms-transition: none  ;
    -o-transition: none  ;
}
  .profile__links img {
    margin: 0;
    height: 30px;
  }
  .remember__name {
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 120px;
  }
  .remember__major {
    position: absolute;
    font-size: 18px;
    top: 40px;
    left: 120px;
  }
}
@media (max-width: 800px) { 
  .header__title {
    padding-top: calc(50vh - 150px);
    font-size: 55px;
    line-height: 55px;
  }
  .header__subtitle {
    letter-spacing: 10px;
    font-size: 15px;
    line-height: 15px;
  }
  .header__scroll-down-button {
    font-size: 15px;
    line-height: 15px;
    width: 200px;
    margin-left: -100px;
  }
  .section--introduce-reliablers {
    height: auto;
    padding: 10px;
  }
  .section__title {
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 30px;
    width: 100%;
    margin-left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .section__paragraph-title {
    font-size: 20px;
  }
  .section__paragraph {
    font-size: 17px;
    line-height: 25px;
  }
}
@media (max-width: 700px) {
  .section__content {
    font-size: 13px;
    line-height: 25px;
    padding-top: 20px;
    text-align: center;
    opacity: 0;
  }
}
@media (max-width: 500px) { 
  .header__title {
    padding-top: calc(50vh - 100px);
    font-size: 40px;
    line-height: 40px;
  }
  .header__subtitle {
    letter-spacing: 10px;
    font-size: 15px;
    line-height: 15px;
  }
}