body {
  background-color: #fafafa;
}

.main {
  padding-top: 100px;
  position: relative;
}
.aside {
  /* border: 1px solid red; */
  width: 240px;
  position: absolute;
  left: 10vw;
}
.aside__title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fca8a4;
  width: 100%;
  text-align: center;
  line-height: 25px;
  padding-bottom: 22px;
  border-bottom: 1px solid #fca8a4;
  margin-bottom: 10px;
}
.lecture-list {
  width: 100%;
}
.lecture-list-item {
  width: 100%;
  margin: 20px 0;
  display: block;
}
.lecture-link {
  display: block;
  font-size: 20px;
  padding-left: 20px;
}
.article-container {
  /* border: 1px solid blue; */
  width: 800px;
  margin: 0 auto;
}
.article-title {
  text-align: center;
  font-size: 50px;
  color: #fca8a4;
}
.article-line {
  margin: 50px auto;
  border: 1px solid #fca8a4;
  width: 150px;
}
.youtube-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.youtube-iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.article-contents {
  padding: 50px 0;
  font-size: 20px;
}

@media (min-width:1500px) {
  .article-container {
    position: absolute;
    right: 20vw;
  }
}

@media (min-width: 1920px) {

}