body {
  background-color: #fafafa;
}

.main {
  padding-top: 100px;
  position: relative;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

/* resposibility style */

.shadow-opacity {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  display: none;
}
.show-aside-button {
  display: none;
  background: none;
  border: none;
  width: 30px;
  padding: 0;
  position: fixed;
  left: 10px;
  top: 70px;
  z-index: 13px;
}
.show-aside-button>div {
  width: 100%;
  height: 4px;
  margin-top: 5px;
  background-color: #747474;
}
.close-aside-button {
  display: none;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 21;
}
.close-aside-button>div {
  width: 100%;
  height: 4px;
  background-color: #747474;
  position: absolute;
  top:10px;
  right: 0;
}
.close-aside-button>div:nth-child(1) {transform: rotateZ(45deg);}
.close-aside-button>div:nth-child(2) {transform: rotateZ(135deg);}
.main--active-show-aside .aside {
  left: 0;
}
.main--active-show-aside .shadow-opacity {
  display: block;
}

/* resposibility style end */

.aside {
  width: 240px;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 10;
}
.aside__title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fca8a4;
  width: 100%;
  text-align: center;
  line-height: 25px;
  padding-bottom: 22px;
  border-bottom: 1px solid #fca8a4;
  margin-bottom: 10px;
  position: relative;
}
.lecture-list {
  width: 100%;
}
.lecture-list-item {
  width: 100%;
  margin: 20px 0;
  display: block;
}
.lecture-link {
  display: block;
  font-size: 20px;
  padding-left: 20px;
}
.article-container {
  width: 800px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 10;
}
.article-title {
  text-align: center;
  font-size: 50px;
  color: #fca8a4;
}
.article-line {
  margin: 50px auto;
  border: 1px solid #fca8a4;
  width: 150px;
}
.youtube-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.youtube-iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.article-contents {
  padding: 50px 0;
  font-size: 20px;
}

@media (max-width:1200px) {
  .main {
    width: 100%;
  }
  .show-aside-button,
  .close-aside-button {
    display: block;
  }
  .aside {
    position: fixed;
    transition: left 0.5s ease-in-out;
    width: 300px;
    top: 60px;
    left: -300px;
    padding: 20px 20px;
    background-color: white;
    z-index: 20;
    overflow-y: scroll;
    height: calc(100vh - 60px);
  }
  .aside__title {
    font-size: 20px;
    line-height: 20px;
  }
  .lecture-link {
    padding-left: 0;
  }
  .article-container {
    position: static;
    width: 90%;
    max-width: 800px;
    margin: 0% auto;
  }
}